@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-BlackIta.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-BoldIta.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-Hairline.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-HairlineIta.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-LightIta.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-MediumIta.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-RegularIta.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-ThinIta.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-Ultra.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Ginto";
  src: url("/fonts/ABCGintoNord-UltraIta.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "ggsans";
  src: url("/fonts/ggsans-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ggsans";
  src: url("/fonts/ggsans-400-normalitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "ggsans";
  src: url("/fonts/ggsans-500-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ggsans";
  src: url("/fonts/ggsans-500-mediumitalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "ggsans";
  src: url("/fonts/ggsans-600-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ggsans";
  src: url("/fonts/ggsans-600-semibolditalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "ggsans";
  src: url("/fonts/ggsans-700-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ggsans";
  src: url("/fonts/ggsans-700-bolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "ggsans";
  src: url("/fonts/ggsans-800-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ggsans";
  src: url("/fonts/ggsans-800-extrabolditalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

:root {
  --background: linear-gradient(to bottom, #3442d9, #232145);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #3442d9, #232145);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "ggsans", Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.debug {
  border: thin solid red;
}
